p{

    color: red;
    color: blueviolet;
    color: brown;
}

h1
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;
    color: blue;
}